<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921959811180-79ak6rcrm1q8jrdbg6obg0sfvb5qoat1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921959811180-79ak6rcrm1q8jrdbg6obg0sfvb5qoat1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>921959811180-7g13trobqq85leafqtf0s8581tgcfmp3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASFWVk0xdpJQZ0-IX2F9PQO6K6OQneXQE</string>
	<key>GCM_SENDER_ID</key>
	<string>921959811180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snacks.snacksPro</string>
	<key>PROJECT_ID</key>
	<string>snacks-app-23</string>
	<key>STORAGE_BUCKET</key>
	<string>snacks-app-23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921959811180:ios:d02b6d5a838de1d10b7049</string>
</dict>
</plist>